body {
    margin: 0px;
    padding: 0px;
}

.hadder {
    background-color: #F0FFF0;
    height: 500px;
    padding-top: 40px;
}

.container {
    padding-top: 5px;
    padding-bottom: 70px;
}

.Logo-image img {
    width: 200px;
}

.hadder-image img {
    width: 500px;
}

.nav-link {
    font-weight: 500;
    margin: 10px;
    font-size: 18px;
}

.sign-button {
    font-size: 15px;
    color: white;
    text-align: center;
    border-radius: 30px;
    padding: 8px 18px 8px 18px;
    font-weight: 500;
    background: #21B573;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.sign-button:hover {
    background: #11C675;
    text-decoration: none;
    color: black;
}

.icon-customize img {
    width: 50px;
    padding-bottom: 30px;
}

.icon-customize {
    text-align: center;
}

.box-shaddow:hover {
    background: #fcfcfc;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    cursor: pointer;
}

.online-Course {
    text-align: center;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    padding: 20px;
    cursor: pointer
}

.card:hover {
    background: #fbfffb;
}

.footer-icon img {
    width: 20px;
}

.school-images img {
    width: 250px;
    height: 196px;
}

#Testimonial {
    text-align: center;
}

.Testimonial-man img {
    width: 130px;
}

.wrap {
    width: 550px;
    margin-left: 50px;
    text-align: justify;
}

.footer-area {
    margin-top: 60px;
    padding: 40px;
    height: 80%;
    width: 100%;
    background-color: #282531;
    color: whitesmoke;
}

.footer-copyright {
    margin-top: 50px;
    text-align: center;
}